logs
conf/evolutions/backup/slinnbooks_*.sql
*.log
.idea*
*.iml
.cache
.classpath
.project
.settings
.target
project/project
project/target
target
tmp
.history
dist
*~
AwsCredentials.properties
BBCredentials.properties
bin
logs
conf/cdn.conf
conf/paypal.conf
txLogs/
txLogs/*
.DS_Store
.svn/
cvs/
__MACOSX
