*.class
*.log

# sbt specific
.cache
.classpath
.target
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.project
.settings
.cache-main
.cache-tests
bin

# IntelliJ IDEA specific
.idea

.bsp/
