language: scala
jdk: oraclejdk8
sudo: false
script:
  - sbt coverage test docs/test samples/test coverageReport
  - sbt docs/validateDocs
  - sbt +mimaReportBinaryIssues
cache:
  directories:
    - $HOME/.ivy2/cache
before_cache:
  # Ensure changes to the cache aren't persisted
  - rm -rf $HOME/.ivy2/cache/com.typesafe.play/play-slick*
  # Delete all ivydata files since ivy touches them on each build
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" | xargs rm
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d2c8a242a2615f659595
    on_success: always
    on_failure: always
after_success:
  - bash <(curl -s https://codecov.io/bash)