@(computerForm: Form[Computer], companies: Seq[(String, String)])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a computer</h1>
    
    @form(routes.Application.save) {
        
        <fieldset>
        
            @inputText(computerForm("name"), Symbol("_label") -> "Computer name")
            @inputText(computerForm("introduced"), Symbol("_label") -> "Introduced date")
            @inputText(computerForm("discontinued"), Symbol("_label") -> "Discontinued date")

            @select(
                computerForm("company"), 
                companies, 
                Symbol("_label") -> "Company", Symbol("_default") -> "-- Choose a company --",
                Symbol("_showConstraints") -> false
            )
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
