<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Slick Play Iteratees Sample</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/json2.js")" type="text/javascript"></script>
    </head>
    <body>
        <!--
          Comet message handler for via a hidden iframe
            see http://www.playframework.com/documentation/2.2.x/ScalaComet
          -->
        <script type="text/javascript">
            // don't try to console.log in htmlunit...
            function logIfConsole(message) {
                if ( typeof console != "undefined" && console.log ) {
                    console.log(message);
                }
            }

            // this is the callback function for comet messages
            var cometMessage = function(message) {
                logIfConsole('Received comet message: ' + message);
                $.each(message, function( index, record ) {
                    logIfConsole(record);
                    $("#items-list ul" ).append('<li><code>' + JSON.stringify(record) + '</code></li>');
                });
            }
        </script>
        <style type="text/css">
            iframe.hidden { display:none; }
        </style>
        <iframe src="/list.comet" width="0" height="0" tabindex="-1" title="empty" class="hidden"></iframe>
        <!-- End of Comet message handling -->

        <div id="items-container">
            <div id="items-title">
                Query to populate list is streamed in chunks of 2...
            </div>
            <div id="items-list">
                <ul>
                    <!-- Comet callback will add items here -->
                </ul>
            </div>
        </div>
    </body>
</html>
